@model IEnumerable<QuotationApp1.Quotation>

@{
    ViewBag.Title = "Quotations";
}

<h2>Quotations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote)
        </th>
        <th>
            @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuotationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuotationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuotationID })
            </td>
        </tr>
    }

</table>