
@{
    ViewBag.Title = "Customers";
}

<h1>List of suckers who fell for this scam</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Card Type</th>
        <th>Card Number</th>
        <th>Amount Paid</th>
    </tr>
    @foreach (BuyAGrade.Models.Customer c in ViewBag.CustomerList)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Course</td>
            <td>@c.CardType</td>
            <td>@c.CardNumber</td>
            <td>@c.AmountPaid</td>
        </tr>
    }
</table>
